<article class="post">
  <div class="title">
    <h3>{{title}}</h3>
    <p>{{body}}</p>
  </div>
  <div class="meta">
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>